<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myfirstcms.mapper.DictMapper">

    <select id="checkDictExistByDictCode" resultType="java.lang.Integer">
        select count(*) from dict where dict_code = #{dict_code}
    </select>

    <select id="queryDictValueByKey" resultType="java.lang.String">
        select dict_value
        from dict_data
        <where>
            <if test="dict_code != null">
                dict_code = #{dict_code}
            </if>
            <if test="dict_key != null">
                and dict_key = #{dict_key}
            </if>
        </where>

    </select>
</mapper>
