<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myfirstcms.mapper.DictDataMapper">

    <resultMap id="BaseResultMap" type="DictDataDO">
        <id column="dict_id" jdbcType="INTEGER" property="id"/>
        <result column="dict_code" jdbcType="VARCHAR" property="id"/>
        <result column="dict_lable" jdbcType="VARCHAR" property="dict_lable"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dict_type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
</mapper>
