<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myfirstcms.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="RoleDO">
        <id column="id" property="id"/>
        <result column="role_name" property="name"/>
        <result column="note" property="note"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>
    <select id="selectGroupsByUserId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT r.id, r.role_name, r.note, r.status, r.create_time, r.update_time, r.delete_time
        from lin_role AS r
        WHERE
            r.delete_time IS NULL
          AND
                r.id IN
                (
                    SELECT ug.role_id
                    FROM lin_user AS u
                             LEFT JOIN lin_user_role as ug
                                       ON ug.user_id = u.id
                    WHERE u.id = 2
                      AND u.delete_time IS NULL
                )
    </select>


</mapper>
